
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83806060-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-83806060-4');
    </script>

    <meta charset="utf-8">
    <title>Akira Web Solutions</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="Colorado Springs Web Design,
Colorado Springs Web Designer,
Colorado Springs Design and Development,
Colorado Springs Web Design and Hosting,
Colorado Springs Web Design And Development Services,
Colorado Springs Web Design Company,
Colorado Springs Web Design Services,
Colorado Springs Web Design Cost,
Web Design Colorado Springs,
Web Design Denver,
Web Design eCommerce,
eCommerce web design" />
    <meta name="author" content="Akira Web Solutions" />
    <meta name="description" content="Akira Web Solutions is a Colorado web design company offering innovative, professional & mobile-friendly website design services." />

    <!-- Favicons -->
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
    <link rel="manifest" href="img/favicons/site.webmanifest">
    <link rel="mask-icon" href="img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">


</head>


    <!--==========================
      Header
    ============================-->
    <header id="header">
        <div class="container-fluid">

            <div id="logo" class="pull-left">
                <h1><a href="#intro" class="scrollto">Akira Web Solutions</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!--<a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="~/index.cshtml">Home</a></li>
                    <li><a href="index.cshtml#about">About Us</a></li>
                    <li><a href="index.cshtml#services">Services</a></li>
                    <li><a href="index.cshtml#portfolio">Portfolio</a></li>
                    @*<li><a href="#team">Team</a></li>*@
                    <!--<li class="menu-has-children">
                        <a href="">Drop Down</a>
                        <ul>
                            <li><a href="#">Website Capabilities</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </li>-->
                    <li><a href="index.cshtml#contact">Contact</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->
     
    @RenderBody()

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>Akira Web Solutions</h3>
                        <p>Intelligent Website Development &amp; Modern Design</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#intro" class="scrollto">Home</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#about" class="scrollto">About us</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#services" class="scrollto">Services</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="~/TermsandConditions.cshtml">Terms of service</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="~/PrivacyPolicy.cshtml">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            <strong>Phone:</strong> +1 602 777 1105<br>
                            <strong>Email:</strong> Akirawebsolutions0@gmail.com<br>
                        </p>

                        <div class="social-links">
                            <a href="https://twitter.com/Akira_WebDev" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/AkiraWebSolutions/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/akira_web_solutions/" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                        </div>

                    </div>

               

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Akira Web Solutions</strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://AkiraWebSolutions.com/">Akira Web Solutions</a>
            </div>
        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    <!-- Contact Form JavaScript File -->
    @*<script src="contactform/contactform.js"></script>*@

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>

