@{
    Layout = "~/_SiteLayout.cshtml";
    <meta name="keywords" content="Website Builder Phoenix, Website Design Phoenix, SEO Phoenix, Website Hosting Phoenix, SSL Certificate Phoenix, SEO Phoenix, Website Builder Buckeye, Website Design Buckeye, SEO Buckeye, Website Hosting Buckeye, SSL Ceritifcate Buckeye, SEO Buckeye" />
    <meta name="author" content="Akira Web Solutions" />
    <meta name="description" content="Akira Web Solutions: Intelligent Website Design, Responsive Website Design, SEO and SSL Certificate. International standards with great prices! Servicing Buckeye, Phoenix and the Greater Maricopa area. " />
    <title>About Akira Web Solutions, Website Design, Website Hosting, SEO, SSL, Phoenix, Buckeye</title>
    Page.Title = "About";
}
    <style>
        #body {
            background-color: burlywood;
            background-image: url('Images/Neat.jpg');
            background-size: cover;
            font-size:24px;
            color:white;
        
        }
        #body ul li{
            font-size:24px;
            color:white;
        }
      
    </style>
<br />
<h1 class="textSection">Meet the Akira Web Solutions Team</h1>
<p class="textSection" style="padding-bottom:0px; ">
    At Akira Web Solutions, we're a small but highly experienced team. We love what we do and put our heart and souls into every project.
    At Akira we only handle one client at a time to make sure the client receives 100% of our creativity.
    Our expertise covers all aspects of website design and development, including the look, the functions, the text, all the techie stuff, and that spark of inspiration that makes your project as unique as the idea.
    For expert website building, hosting, SEO and SSL services call us first!
</p>
@*Meet the team*@
<div class="container">
    <div class="row">
        <div class="heading-title text-center">


        </div>
        <div class="team-title">
            <h5>Taylor Bishop</h5>
            <span style="color:black;">Owner &amp; Lead Developer</span>
        </div>
    </div>
        <div class="col-md-4 col-sm-4">
            <div class="team-member">
                <div class="team-img">
                    
                    <img src="~/Images/Corgi-Altered.png" alt="team member" class="img-responsive" style="max-width:636px;">
                </div>
                <div class="team-hover">
                    <div class="desk">
                        <h4 >Taylor is the Owner and Lead Developer of Akira Web Solutions.</h4>
                        <p style="font-family:aleo-regular; ">
                            Taylor started his career working for innovative software companies such as, nCino and InOutSource. However, after moving to Arizona he quickly
                            decided to start Akira Web Solutions.<br /><br /> When he's not hard at work designing on his beloved computer, he can be found enjoying the great outdoors with his dog Porkchop.
                        </p>
                    </div>
                    @*<div class="s-link">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>*@

                </div>
            </div>
        </div>
            </div>

<div style="background:rgba(0,0,0,.3); width:100%; text-align:center;">
    <p class="textSection" style="color:white; padding-bottom:0;">Taylor started his programming career working for the #1 Global Commerical Loan Orgination Systems in Analyst Evaluation company, <span style="color:lightseagreen; font-weight:bold;">nCino</span>. Where he helped develop Cloud Banking Software used by renowned banks such as, Bank of America, Suntrust and hundreds of other banks across the globe. </p>
    <p class="textSection" style="color:white; padding-top:0; padding-bottom:0;">Deciding to further his coding repertoire, Taylor transitioned into a Database Developer Consultant Role for <span style="color:lightseagreen; font-weight:bold;">InOutSource</span> a national leader in trusted consultation and technology implementation services that reduce risk, improve efficiency and decrease costs for law firms.</p>
    <p class="textSection" style="color:white; padding-top:0; padding-bottom:0;">With years of experience across varied aspects of enterprise level programming, Taylor decided to use his expert skill set to offer breathtaking websites. All Taylors' experience is reflected in the work he creates, utilizing his years of enterprise level programming. Taylor provides his experience in the form of <span style="color:lightseagreen; font-weight:bold;">ASP.NET</span> websites for your business.</p>
    <p class="textSection" style="color:white; padding-top:0; padding-bottom:0;">For more information on what makes us different than the rest or on our coding practices visit our <a href="~/WebDevelopment" title="SEO, SSL, Website Development, Responsive Website Design, Website Hosting, ASP.NET">Website Development Section</a></p>
</div>