@{
    Layout = "~/_SiteLayout.cshtml";
    <meta name="keywords" content="web design Arizona, web development services Scottsdale, website design Maricopa, graphic design companies tempe area, mobile friendly website designers Buckeye AZ" />
    <meta name="author" content="Taylor Bishop" />
    <meta name="description" content="Contact details for Akira Web Solutions, Phoenix AZ: web design and responsive website development for US and Canada " />
    <title>Contact Akira Web Solutions, website design, web development, Arizona &amp; Florida, United States of America</title>
    Page.Title = "Contact Us";
}
    <style>
        #body {
            background-image: url('Images/testcontact.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            color: darkgoldenrod;
            font-size: 16px;
            padding: 50px;
        }
    </style>
<br />
<h1 class="textSection" style="color:black;"> Akira Web Solutions CONTACT INFOMRATION</h1>
<hr />
<div>
    <h2 style="color:black;"> Follow Us!</h2>
    <br />
    <a href="https://www.facebook.com/Akira-Web-Solutions-189302461673713/">
        <img src="~/Images/facebook.png" style="max-height:64px; max-width:258px;" />
    </a>

    <a href="https://www.instagram.com/akirawebsolutions/">
        <img src="~/Images/instagram.png" style="max-height:64px; max-width:64px;" />
    </a>
    <a href="https://twitter.com/Akira_WebDev">
        <img src="~/Images/twitter.png" style="max-height:64px; max-width:64px;" />
    </a>
    <br />
    <a href="https://github.com/akira796?tab=repositories">
        <img src="~/Images/GitHub-Logo.png" style="max-height:64px; max-width:258px;" />
    </a>
    <a href="https://www.tumblr.com/blog/akirawebsolutions">
        <img src="~/Images/Tumblr-icon.png" style="max-height:64px; max-width:64px;" />
    </a>
    <a href="https://www.linkedin.com/in/taylorbishop/">
        <img src="~/Images/llinkedin-icon.png" style="max-height:64px; max-width:64px;" />
    </a>
</div>

<div>
    <br />
    <h2 class="textSection" style="color:black;">EMAIL:<br /></h2>
    <a href="mailto:akirawebsolutions0@gmail.com" style="color:black; font-size:24px;">akirawebsolutions0@gmail.com</a><br /><br />
    <h2 class="textSection" style="color:black;">PHONE:</h2><br />
    <h2> (602) 777 - 1105</h2><br /><br />

</div>

