@{
    Layout = "~/_SiteLayout.cshtml";
    <meta name="keywords" content="website builder Phoenix, website design Phoenix, SEO Phoenix, website hosting Phoenix, SSL Certificate Phoenix, SEO Phoenix, website builder Buckeye, website design Buckeye, SEO Buckeye, website hosting Buckeye, SSL Ceritifcate Buckeye, SEO Buckeye" />
    <meta name="author" content="Akira Web Solutions" />
    <meta name="description" content="Contact details for Akira Web Solutions, Phoenix AZ: website design and responsive website development for US" />
    <title>Contact Akira Web Solutions, website design, web development, SSL, SEO, Buckeye, Arizona, Colorado Springs, Colorado</title>
    Page.Title = "Contact Us";


    <!-- Global site tag (gtag.js) - Google AdSense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8450722853983229",
            enable_page_level_ads: true
        });
    </script>
}

<style>
    #body {
        background-image: url('Images/testcontact.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        color: darkgoldenrod;
        font-size: 16px;
        padding: 50px;
    }
</style>
<br />
<h1 class="textSection" style="color:black;"> Akira Web Solutions CONTACT INFORMATION</h1>
<hr />
<div>
    <h2 style="color:black;"> Follow Us!</h2>
    <br />

    <div class="fb-like" data-href="https://www.facebook.com/AkiraWebSolutions/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true" style="bottom:6px;"></div>
    <a href="https://twitter.com/Akira_WebDev?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow &#64;Akira_WebDev</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <br />
    <a href="https://www.instagram.com/akirawebsolutions/" title="our instagram">
        <img src="~/Images/instagram_64x64.png" style="max-height:64px; max-width:64px;" alt="instagram" />
    </a>
    @*<script src="//platform.linkedin.com/in.js" type="text/javascript">    lang: en_US</script>
        <script type="IN/FollowCompany" data-id="18527891" data-counter="top">
        </script>*@

</div>

<div style="margin-bottom:10%;">
    <br />
    <h2 style="color:black;">EMAIL:<br /></h2>
    <a href="mailto:akirawebsolutions0@gmail.com" style="color:black; font-size:24px; overflow-wrap:break-word;" title="Email now for Website Design"> akirawebsolutions0@gmail.com </a><br /><br />
    <h2 style="color:black;">PHONE:</h2><br />
    <h2> <a href="tel:+16027771105" title="Call now for website design"><img src="~/Images/Phonepng_32x32.png" style="max-width:32px; vertical-align:middle;" alt="Phone" />(602) 777-1105</a></h2><br /><br />

</div>

