@{
    Layout = "~/_SiteLayout.cshtml";
    <meta name="keywords" content="website builder Phoenix, website design Phoenix, SEO Phoenix, website hosting Phoenix, SSL Certificate Phoenix, SEO Phoenix, website builder Buckeye, website design Buckeye, SEO Buckeye, website hosting Buckeye, SSL Ceritifcate Buckeye, SEO Buckeye" />
    <meta name="author" content="Akira Web Solutions" />
    <meta name="description" content="Akira Web Solutions; website design and graphic design company in Phoenix, Arizona. Why pay overpriced website design prices - we do the same for less." />
    <title>Website Design, Hosting, SEO, SSL, Phoenix - Akira Web Solutions</title>
    //Page.Title = "Home";
}
<style>
    .container li, .sliding {
        display: none
    }

    .sliding {
        opacity: 0;
        position: relative;
        margin-left: -120px;
        width: 100%
    }

    .processTitle {
        text-align: center;
        font-size: 24px
    }

    #body {
        background-color: #e0ffff;
        font-size: 24px
    }

        #body p {
            padding: 0
        }

    .container {
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        max-width: 100%
    }

        .container span {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute
        }

        .container li, .container ul {
            padding: 0;
            margin: 0;
            list-style: none
        }

            .container li.active {
                display: inline
            }

    #body {
        background-image: url('Images/sepiaview.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-color: lightcyan;
        font-family: aleo-bold;
        font-size: 24px;
    }

   
</style>
@*<link href="css/alpha.css" rel="stylesheet" type="text/css" />*@

<div class="containmentTest">
        <div class="container" id="container" style="padding: 0 0px; max-width:80%;">
            <ul>


                <li class="active">
                    <img src="~/Images/Web-design-18.jpg" class="homePageImg" alt="WebDesign" />
                </li>
                <li>
                    <img src="~/Images/seo-services.jpg" class="homePageImg" alt="seo" />
                </li>
                <li>
                    <img src="~/Images/Responsive web design3.jpg" class="homePageImg" alt="rwd" />
                </li>
                <li>
                    <img src="~/Images/net.jpg" class="homePageImg" alt=".net" />
                </li>
                <li>
                    <img src="~/Images/sslcertificate-2.png" class="homePageImg" alt="ssl" />
                </li>
            </ul>
        </div>
    </div>




<hr />
<h1 class="textSection">Akira Web Solutions - Website Design, Hosting, SEO, SSL, Development</h1>
<hr />
<div style="max-width:90%; margin:auto;">
    <div class="one sliding">
        <p class="textSection">
            Finding the ideal website design company for your business can be tricky, so at Akira Web Solutions, we make it as easy as possible.
        </p>
    </div>

    <div class="two sliding">
        <p class="textSection">
            We offer expert, affordable website design, SEO, website hosting and website development services for any size business or organization. We also make your website mobile friendly for the 40% of customers who access websites on the move!
        </p>
    </div>

    <div class="three sliding">
        <p class="textSection">
            You tell us what you want, we listen carefully, offer suggestions and options on how to achieve it, then make it happen within your budget and on time.
        </p>
    </div>

    <div class="four sliding">
        <p class="textSection">
            We're the web solutions company you will want to work with, we'll stick within your budget, and you can call us direct for an update, help or advice. Our website design company is based in Arizona and our experienced team have worked with national companies in the US.
        </p>
    </div>

    <div class="five sliding">
        <p class="textSection">
            In other words, we create a great looking website for your business or organization which works amazing on smart phones and ranks well in Google.
        </p>
    </div>

    <div class="six sliding">
        <p class="textSection">
            If that sounds like just what you need, give Akira Web Solutions a call at
            <a href="tel:+16027771105" style="color:black; font-weight:bold;" title="Call for Website Design Services">(602) 777-1105</a> or send us an
            <a href="mailto:akirawebsolutions0@gmail.com" title="Email for Website Design Services" style="color:black; font-weight:bold;">email.</a>
        </p>
    </div>
</div>





@*<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>*@
@*<script type="text/javascript" src="js/alpha.min.js"></script>*@

@*Gallery*@
<script>
    function calculateBorders() { var e = Math.floor(9 * Math.random() + 1) / 10 * gapHeight; return { borderWidthTop: e, borderWidthBottom: gapHeight - e } } function animateBorders() { var e = !1; blinds.animate({ borderTopWidth: height / 2, borderBottomWidth: height / 2 }, 1e3, function () { e || (images[activeImage].removeClass("active"), activeImage = (activeImage + 1) % images.length, images[activeImage].addClass("active"), setTimeout(animateBorders, 3e3), e = !0); var t = calculateBorders(); $(this).delay(300).animate({ borderTopWidth: t.borderWidthTop, borderBottomWidth: t.borderWidthBottom }, 1e3) }) } $(document).ready(function () { height = 538; var e = "#000"; gapHeight = 100; var t = $("#container"); t.width(1680).height(height); images = new Array, $("ul li", t).each(function () { images.push($(this)) }), images[0].addClass("active"), activeImage = 0; for (var a = 0; a < 20; a++) { var i = $(document.createElement("span")), r = calculateBorders(); i.css({ left: 84 * a, border: "2px solid " + e, borderTop: r.borderWidthTop + "px solid " + e, borderBottom: r.borderWidthBottom + "px solid " + e, height: height, width: 84 }), t.prepend(i) } blinds = $("span", t), setTimeout(animateBorders, 1e3) });
</script>



@*Text slide in*@
<script>
    $(document).ready(function () { $(".one").css("display", "block").animate({ opacity: 1, left: "120px" }, 600), $(".two").css("display", "block").delay(150).animate({ opacity: 1, left: "120px" }, 600), $(".three").css("display", "block").delay(300).animate({ opacity: 1, left: "120px" }, 600), $(".four").css("display", "block").delay(450).animate({ opacity: 1, left: "120px" }, 600), $(".five").css("display", "block").delay(700).animate({ opacity: 1, left: "120px" }, 600), $(".six").css("display", "block").delay(850).animate({ opacity: 1, left: "120px" }, 600), $(".seven").css("display", "block").delay(1e3).animate({ opacity: 1, left: "120px" }, 600) });
</script>
@*Gallery*@
