@{
    Page.Title = "FAQ";
    Layout = "~/_SiteLayout.cshtml";
    <meta name="keywords" content="website builder Phoenix, website design Phoenix, SEO Phoenix, website hosting Phoenix, SSL Certificate Phoenix, SEO Phoenix, website builder Buckeye, website design Buckeye, SEO Buckeye, website hosting Buckeye, SSL Ceritifcate Buckeye, SEO Buckeye" />
    <meta name="author" content="Akira Web Solutions" />
    <meta name="description" content="Akira Web Solutions: intelligent website design, responsive website design, SEO and SSL Certificate. International standards with great prices! Servicing Buckeye, Phoenix and the Greater Maricopa area. " />
    <meta name="generator" content="MYOB" />
    <title>FAQ, website hosting, SEO, SSL, website design, Buckeye, Phoenix</title>
}
<style>
    #body {
        font-size: 24px;
    }

        #body img {
            width: 100%;
            max-width: 64px;
        }

    .faq li {
        padding: 20px;
    }

        .faq li.q {
            background: #4FC2E;
            font-weight: bold;
            font-size: 120%;
            border-bottom: 1px #ddd solid;
            cursor: pointer;
        }

        .faq li.a {
            background: #3BB0D6;
            display: none;
            color: #fff;
        }

    .rotate {
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
</style>
<br />
<h1 class="textSection" style="font-family:'Palatino Linotype';">FAQ</h1>
<hr />
<ul class="faq">
    <li class="q">
        <img src="~/Images/Right-Arrow-PNG-Transparent.png" alt="arrow">
        What is your typical process for working with a new customer?
    </li>
    <li class="a">We review the business needs then create a mock website displaying our skill set and starting point, followed by a quoted price to create or replace a website.</li>
    <li class="q">
        <img src="~/Images/Right-Arrow-PNG-Transparent.png"  alt="arrow">
        What education and/or training do you have that relates to your work?
    </li>
    <li class="a">Lead Developer and President, Taylor has a Bachelors Degree in Computer Science From the University of North Carolina. Additionally, he has years of experience working at top enterprise level software companies, such as, nCino and InOutSource.</li>
    <li class="q">
        <img src="~/Images/Right-Arrow-PNG-Transparent.png"  alt="arrow">
        What types of customers have you worked with?
    </li>
    <li class="a">Our clients are International Construction Companies, Health Care Businesses, Plumbing Companies, Authors, Musicians, App Developers and Artists.</li>
    <li class="q">
        <img src="~/Images/Right-Arrow-PNG-Transparent.png"  alt="arrow">
        What types of payment do you accept?
    </li>
    <li class="a">Visa, Mastercard, Discover, American Express, Debit Cards, Cash, Check, Bitcoin and Litecoin.</li>
    <li class="q">
        <img src="~/Images/Right-Arrow-PNG-Transparent.png"  alt="arrow">
        Can an old website be repaired?
    </li>
    <li class="a">
        Yes. We recommend having a webmaster/developer that can maintain your website. This is an easy process and is cost effective.
        Maintenance will increase your websites life span. At the end of installation we will instruct you on this easy process and what the best option for you is.
    </li>
    <li class="q">
        <img src="~/Images/Right-Arrow-PNG-Transparent.png"  alt="arrow">
        Does a website need maintenance?
    </li>
    <li class="a">
        Yes. We reccomend having a webmaster/developer that can maintain your website. This is an easy process and is cost effective.
        Maintanance will increase your websites life span. At the end of installation we will instruct you on this easy process and what the best option for you is.
    </li>
    <li class="q">
        <img src="~/Images/Right-Arrow-PNG-Transparent.png"  alt="arrow">
        How soon can I get serviced?
    </li>
    <li class="a">
        Usually we can do the job the same day! Calling in the morning is best for same day service!
    </li>
    <li class="q">
        <img src="~/Images/Right-Arrow-PNG-Transparent.png"  alt="arrow">
        Are there any practices you carried over from previous experience?
    </li>
    <li class="a">
        YES!! Agile Development, Source Control, Obtusification, Scalibility and Performance Tuning.
    </li>
</ul>


<script>
    // Accordian Action
    var action = 'click';
    var speed = "500";


    $(document).ready(function () {

        // Question handler
        $('li.q').on(action, function () {

            // gets next element
            // opens .a of selected question
            $(this).next().slideToggle(speed)

                // selects all other answers and slides up any open answer
                .siblings('li.a').slideUp();

            // Grab img from clicked question
            var img = $(this).children('img');

            // remove Rotate class from all images except the active
            $('img').not(img).removeClass('rotate');

            // toggle rotate class
            img.toggleClass('rotate');

        });

    });
</script>