@{
    Page.Title = "Pricing";
    <meta name="keywords" content="web design firm Phoenix, web development services Tempe, website design maricopa, graphic design companies Buckeye area, mobile friendly website designers" />
    <meta name="author" content="Taylor Bishop" />
    <meta name="description" content="Pricing details for Akira Web Solutions: web design and responsive website development for US and Canada. " />
    <title>Akira Web Solutions, website design pricing, web development, Phoenix &amp; Chandler Arizona USA</title>
    Layout = "~/_SiteLayout.cshtml";
}
    <style>
        #body {
            background-image: url('Images/pricing1.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-color: lightcyan;
            font-family: aleo-bold;
            font-size: 18px;
        }

        li, ul, h2, h1, hr {
            color: white;
        }
    </style>
<div style="text-align:center;"><img class="textSection" style="max-width:936px;" src="~/Images/Pricing.jpg" /></div>

<h1 class="textSection">5 page static website| $475 plus hosting</h1>
<hr />
<div style="background:rgba(0,0,0,.3);">
    <h2 class="textSection">Approximate Time: 5 days</h2>
    <ul>
        <li>
            5 custom-made pages including the stunning Homepage
            <ul>
                <li>Portfolios</li>
                <li>Blog</li>
                <li>Contact Pages</li>
                <li>Social Media Hosting &amp; Embedding</li>
                <li>Video/Music Pages &amp; Embedding</li>
                <li>Stunning Stock Graphics</li>
                <li>One Custom Title Animation Built For You With Javascript</li>
            </ul>

        </li>
        <li>
            Premium Search Engine Optimization (SEO)<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Guaranteeing that you rank well with Google Site Analytics.

        </li>
        <li>
            Unlimited linking to social media, such as:
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Youtube</li>
                <li>Spotify</li>
                <li>Instagram</li>
                <li>Itunes</li>
            </ul>
        </li>
        <li>Functional Call &amp; Email Buttons</li>
        <li>Google Map Integration</li>
        <li>Business Linking, such as:
            <ul>
                <li>Google Reviews</li>
                <li>Yelp Reviews</li>
                <li>Thumbtack Reviews</li>
                <li>Facebook Reviews</li>
            </ul>
        </li>
        
        <li></li>
        <li>
            24/7 Customer Support via phone, email
        </li>
    </ul>
</div>


<h1 class="textSection">10 page static website| $900 plus hosting</h1>
<hr />
<div style="background:rgba(0,0,0,.3);">
    <h2 class="textSection">Approximate Time: 10 days</h2>
    <ul>
        <li>
            10 custom-made pages including the stunning Homepage
            <ul>
                <li>Portfolios</li>
                <li>Blog</li>
                <li>Contact Pages</li>
                <li>Social Media Hosting &amp; Embedding</li>
                <li>Video/Music Pages &amp; Embedding</li>
                <li>Stunning Stock Graphics</li>
                <li>One Custom Title Animation Built For You With Javascript</li>
            </ul>
        </li>
        <li>
            Premium Search Engine Optimization (SEO)<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Guaranteeing that you rank well with Google Site Analytics.

        </li>

        <li>
            Unlimited linking to social media, such as:
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Youtube</li>
                <li>Spotify</li>
                <li>Instagram</li>
                <li>Itunes</li>
            </ul>
        </li>
        <li>
            Business Linking, such as:
            <ul>
                <li>Google Reviews</li>
                <li>Yelp Reviews</li>
                <li>Thumbtack Reviews</li>
                <li>Facebook Reviews</li>
            </ul>
        </li>
        <li>
            24/7 Customer Support via phone, email
        </li>
    </ul>
</div>

