@{
    Page.Title = "Pricing";
    <meta name="keywords" content="website builder Phoenix, website design Phoenix, SEO Phoenix, website hosting Phoenix, SSL Certificate Phoenix, SEO Phoenix, website builder Buckeye, website design Buckeye, SEO Buckeye, website hosting Buckeye, SSL Ceritifcate Buckeye, SEO Buckeye" />
    <meta name="author" content="Akira Web Solutions" />
    <meta name="description" content="Pricing details for Akira Web Solutions: website design and responsive website development for US and Canada. " />
    <title>website design pricing, SEO, SSL, Buckeye, Phoenix</title>
    Layout = "~/_SiteLayout.cshtml";
}
<style>
    #body {
        background-image: url('Images/pricing1.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-color: lightcyan;
        font-family: aleo-bold;
        font-size: 18px;
        color:white;
    }

    li, ul, h2, h1, hr {
        color: white;
    }

        ul.sitemap {
            display: inline-block;
        }
</style>
<div style="text-align:center;"><img class="textSection" style="max-width:936px;" src="~/Images/Pricing.jpg" alt="pricing"/></div>

@*<h1 class="textSection">2 page static website| $199 plus hosting</h1>
    <hr />
    <div style="background:rgba(0,0,0,.3); ">
        <h2 class="textSection" style=" text-align:center;">Approximate Time: 2 days</h2>
        <ul class="sitemap">
            <li>
                Up To 2 Custom-Made Pages Including The Stunning Homepage!
                <ul>
                    <li>Portfolios</li>
                    <li>Blog</li>
                    <li>Contact Pages</li>
                    <li>Social Media Hosting &amp; Embedding</li>
                    <li>Video/Music Pages &amp; Embedding</li>
                    <li>Stunning Stock Graphics</li>
                    <li>One Custom Title Animation Built For You With Javascript</li>
                </ul>
            </li>
            <li>
                Premium Search Engine Optimization (SEO)
                <ul>
                    <li>Guaranteeing That You Rank Well With Google Site Analytics.</li>
                </ul>
            </li>
            <li>
                Enterprise Level Coding Methodologies
                <ul>
                    <li>
                        Optimized Page Loading Times
                    </li>
                    <li>High Ranking Performance Grades</li>
                </ul>
            </li>
            <li>
                Hosting Social Media, Such As:
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Youtube</li>
                    <li>Spotify</li>
                    <li>Instagram</li>
                    <li>Soundcloud</li>
                </ul>
            </li>
        </ul>
        <ul class="sitemap" style="vertical-align:top;">
            <li>Functional Call &amp; Email Buttons</li>
            <li>Google Map Integration</li>
            <li>
                Business Linking, Such As:
                <ul>
                    <li>Google Reviews</li>
                    <li>Yelp Reviews</li>
                    <li>Thumbtack Reviews</li>
                    <li>Facebook Reviews</li>
                </ul>
            </li>
            <li>Multi-Lingual Support</li>
            <li>Image Gallery</li>
            <li>Products/Merchandise Listing</li>
            <li>Pricing</li>
            <li>
                Unlimted Linking To External Stores, Such As:
                <ul>
                    <li>Amazon</li>
                    <li>Shopify</li>
                    <li>Itunes</li>
                    <li>Ebay</li>
                </ul>
            </li>
            <li>
                24/7 Customer Support Via Phone &amp; Email
            </li>
        </ul>
    </div>*@

<h1 class="textSection">5 page static website| $475 plus hosting</h1>
<hr />
<div style="background:rgba(0,0,0,.3); ">
    <h2 class="textSection" style=" text-align:center;">Approximate Time: 5 days</h2>
    <ul class="sitemap">
        <li>
            Up To 5 Custom-Made Pages Including The Stunning Homepage!
            <ul>
                <li>Portfolios</li>
                <li>Blog</li>
                <li>Contact Pages</li>
                <li>Social Media Hosting &amp; Embedding</li>
                <li>Video/Music Pages &amp; Embedding</li>
                <li>Stunning Stock Graphics</li>
                <li>One Custom Title Animation Built For You With Javascript</li>
            </ul>
        </li>
        <li>
            Premium Search Engine Optimization (SEO)
            <ul>
                <li>Guaranteeing That You Rank Well With Google Site Analytics.</li>
            </ul>
        </li>
        <li>
            Enterprise Level Coding Methodologies
            <ul>
                <li>
                    Optimized Page Loading Times
                </li>
                <li>High Ranking Performance Grades</li>
            </ul>
        </li>
        <li>
            Hosting Social Media, Such As:
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Youtube</li>
                <li>Spotify</li>
                <li>Instagram</li>
                <li>Soundcloud</li>
            </ul>
        </li>
    </ul>
    <ul class="sitemap" style="vertical-align:top;">
        <li>Functional Call &amp; Email Buttons</li>
        <li>Google Map Integration</li>
        <li>
            Business Linking, Such As:
            <ul>
                <li>Google Reviews</li>
                <li>Yelp Reviews</li>
                <li>Thumbtack Reviews</li>
                <li>Facebook Reviews</li>
            </ul>
        </li>
        <li>Multi-Lingual Support</li>
        <li>Image Gallery</li>
        <li>Products/Merchandise Listing</li>
        <li>Pricing</li>
        <li>
            Unlimted Linking To External Stores, Such As:
            <ul>
                <li>Amazon</li>
                <li>Shopify</li>
                <li>Itunes</li>
                <li>Ebay</li>
            </ul>
        </li>
        <li>
            24/7 Customer Support Via Phone &amp; Email
        </li>
    </ul>
</div>

<h1 class="textSection">10 page static website| $900 plus hosting</h1>
<hr />
<div style="background:rgba(0,0,0,.3); ">
    <h2 class="textSection" style=" text-align:center;">Approximate Time: 10 days</h2>
    <ul class="sitemap">
        <li>
            Up To 10 Custom-Made Pages Including The Stunning Homepage!
            <ul>
                <li>Portfolios</li>
                <li>Blog</li>
                <li>Contact Pages</li>
                <li>Social Media Hosting &amp; Embedding</li>
                <li>Video/Music Pages &amp; Embedding</li>
                <li>Stunning Stock Graphics</li>
                <li>One Custom Title Animation Built For You With Javascript</li>
            </ul>
        </li>
        <li>
            Premium Search Engine Optimization (SEO)
            <ul>
                <li>Guaranteeing That You Rank Well With Google Site Analytics.</li>
            </ul>
        </li>
        <li>
            Enterprise Level Coding Methodologies
            <ul>
                <li>
                    Optimized Page Loading Times
                </li>
                <li>High Ranking Performance Grades</li>
            </ul>
        </li>
        <li>
            Hosting Social Media, Such As:
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Youtube</li>
                <li>Spotify</li>
                <li>Instagram</li>
                <li>Soundcloud</li>
            </ul>
        </li>
    </ul>
    <ul class="sitemap" style="vertical-align:top;">
        <li>Functional Call &amp; Email Buttons</li>
        <li>Google Map Integration</li>
        <li>
            Business Linking, Such As:
            <ul>
                <li>Google Reviews</li>
                <li>Yelp Reviews</li>
                <li>Thumbtack Reviews</li>
                <li>Facebook Reviews</li>
            </ul>
        </li>
        <li>Multi-Lingual Support</li>
        <li>Image Gallery</li>
        <li>Products/Merchandise Listing</li>
        <li>Pricing</li>
        <li>
            Unlimted Linking To External Stores, Such As:
            <ul>
                <li>Amazon</li>
                <li>Shopify</li>
                <li>Itunes</li>
                <li>Ebay</li>
            </ul>
        </li>
        <li>
            24/7 Customer Support Via Phone &amp; Email
        </li>
    </ul>
</div>

<h1 class="textSection">1 Year Secure Socket Layer Certificate | $100</h1>
<hr />
<div style="background:rgba(0,0,0,.3); ">
    <h2 class="textSection" style=" text-align:center;">Approximate Time: 1 day</h2>
    <ul class="sitemap">
        <li>
            SSL Encrypts Sensitive Information
        </li>
        <li>
            SSL Provides Authentication
        </li>
        <li>
            SSL Provides Trust
        </li>
        <li>
            SSL is required for PCI Compliance

        </li>
        <li>
            SSL Boosts SEO
        </li>
        <li>
            <a href="~/WebDevelopment.cshtml#SSL" title="SSL Certificate Detailed Information" >Learn More</a>
        </li>
    </ul>
    
</div>


<h1 class="textSection">Web Hosting</h1>
<hr />
<div style="background:rgba(0,0,0,.3); ">
    <p class="textSection" style="color:white;">
        As our websites are coded in ASP.NET we host all our websites with Microsoft Azure Hosting Service.
        We always start with the lowest amount of hosting power necessary and scale it up as needed.
        Due to the fact it is not our service and we are a faciliator, we do not set the prices of web hosting and they are subject to change.
        However, unlike most Web Solution Providers, Akira Web Solutions hosting is non-contract and on a monthly basis, meaning you are in control!
    </p>
</div>