@{
    Layout = "~/_SiteLayout.cshtml";
    <meta name="keywords" content="web design Maricopa, web design in Scottsdale, Chandler website design, website design Gilbert, web designer Tempe, website designer Arizona, Phoenix web designer, web designer in Tempe, website designer Phoenix GTA, Arizona website designer" />
    <meta name="author" content="Tayor Bishop" />
    <meta name="description" content="Why pay Silicon Valley prices for website design, mobile apps or hosting when you can pay local prices with Akira Web Solutions? Phoenix, AZ" />
    <title>Web design Scottsdale, design for web Phoenix, website design Maricopa County, web designer AZ</title>
    Page.Title = "Services";

}
    <style>
        #body {
            background: linear-gradient(khaki,grey);
            font-size: 18px;
        }
    </style>
&nbsp;
@*WEB DEVELOPMENT*@

<div style="">
    <a name="Website Development">
        <h1 class="textSection">
            Our Expert Website Design &amp; Development
        </h1>
    </a>
    <div style="text-align:center;"><img class="textSection" src="~/Images/Website-Design.jpg" /></div>
    <p class="textSection">
        At Akira Web Solutions, we live and breath website design. We'll create an eye-catching website that reflects your business, meets the needs of your clients, promoting your products or services 24/7/365.
        We won't charge you sky-high web designer prices either - our websites are affordable, highly cost effective, designed to meet your requirements. We’re local too, based in Arizona, serving customers throughout the USA.
    </p>


    <h1 class="textSection">
        Website Design Services for all
    </h1>
    <p class="textSection">
        Akira Web Solutions believes that everyone deserves a great website. We are design team who will build that stunning, virtual creation of your business idea. We listen to your needs, suggest solutions, thus developing a website that meets your present and future needs.<br />
        We won't sell you a huge website if you only need five pages, we won’t add expensive features you don't need, or confuse you with tech talk. We just design you a smart, professional, effective website that works perfectly and ranks well in the search engines.<br /><br />

        <b>Call Akira Web Solutions today for intelligent web design that won't bust the budget.</b><br /><br />


        At Akira Web Solutions, we specialise in producing websites that suit your particular business needs now and into the future. So, we design in ASP.NET.It has a number of advantages and consists of, HTML5, CSS3, Javascript, SQL.<br /><br />

    </p>
    <h1 class="textSection">
        Mobile Design &amp; The Future
    </h1>
    <p class="textSection">
        If your business website can't be viewed on a mobile phone or smart phone, your business is missing out, big time. Recent figures show that 40%+ of website traffic comes from mobile phones - that's almost a half of your potential customers.<br /><br />

        With an Akira Web Soltions website, you can relax. We'll make your site mobile friendly so your customers can read it on any smart phone or tablet. Your site will also be mobile responsive, which means if someone browses to your website on a mobile device, it automatically switches to a smart phone friendly format.
    </p>
    <hr />
</div>
@*RESPONSIVE WEB DESIGN*@
<a name="Responsive Web Design"><h1 class="textSection">Responsive Web Design</h1></a>
<div style="text-align:center;"><img class="textSection" src="~/Images/Responsive web design.jpg" /></div>
<p class="textSection">
    Make your website 100% visible on today’s mobile devices including smart phones and tablets, with responsive web design from Akira Web Solutions.
</p>

<h1 class="textSection">SMART, APPEALING MOBILE-FRIENDLY WEBSITES</h1>
<p class="textSection">
    If your company or organisations website doesn't work properly on a smart phone/portable tablet device, your business is missing out on up to 40% of potential customers who use their phones &amp; mobile devices to search for services just like yours. Responsive web design ensures that your website scales correctly looks great regardless of what kind of computer or mobile device it's viewed on.
</p>


<h1 class="textSection"> why do i need a Responsive Web Design?</h1>
<p class="textSection">
    Without one, you are missing out on at least 40% of users who browse websites on their phone/mobile device. That's massive chunk of the population that just won't find your information, products or services online unless your website is mobile-friendly.
</p>

<h1 class="textSection">RESPONSIVE WEBSITE DESIGN FOR EVERY DEVICE</h1>
<p class="textSection">
    Our websites work hard so your users don't have to! Our websites will give optimum viewing experience on all mobile OS (operating systems) and all makes of smartphone, e-readers and mobile tablet devices.
</p>
<hr />

@*SEO*@
<a name="SEO"><h1 class="textSection">Search Engine Optimization</h1></a>
<div style="text-align:center;"><img class="textSection" src="~/Images/seo.jpg" /></div>
<p class="textSection">SEO isn't rocket science; it's about the right words in the right place on your website, which ensures it ranks well in Google and other search engines.</p>

<h1 class="textSection">SEO Keyword Research</h1>
<p class="textSection">
    At Akira to ensure your website is found by potential customers, our Search Engine Optimization (SEO) phrasing ensures search engines such as Google finds you.

    We know you want to be ranked highly in search engine results pages. Our Search Engine Optimization reveals the words real customers are using to find websites like yours every day.
    SEO research also reports any hidden phrases that people type in frequently, but your competition may have missed!
</p>

<h1 class="textSection">Websites Built for SEO</h1>
<p class="textSection">
    All Akira Web Solutions websites are built so that search engines can read every word, so your website is as 'visible' as possible.
    You won't notice the techie stuff we've done behind the scenes, but the search engine will, which is crucial for Google. That's what sets Akira Web Solutions apart from other Web Developers.
</p>

