@{
    Layout = "~/_SiteLayout.cshtml";
    <meta name="keywords" content="website builder Phoenix, website design Phoenix, SEO Phoenix, website hosting Phoenix, SSL Certificate Phoenix, SEO Phoenix, website builder Buckeye, website design Buckeye, SEO Buckeye, website hosting Buckeye, SSL Ceritifcate Buckeye, SEO Buckeye" />
    <meta name="author" content="Akira Web Solutions" />
    <meta name="description" content="Vibrant website design by Akira Web Solutions: browse our affordable, sleek website designs. Phoenix, Arizona, USA" />
    <title>Akira Web Solutions website design portfolio, SEO, SSL, Buckeye, Phoenix, website development</title>
    Page.Title = "Web Development Portfolio";

}
<style>
    #body {
        background-image: url('Images/CoffeeCat.png');
        background-size: cover;
    }


    /*Animated header css*/

    #container {
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
</style>
<br />
@*ANIMATION HEADER*@
<h1 style="text-align:center;">
    &nbsp; Clients:
    <span class="txt-rotate"
          data-period="2000"
          data-rotate='[ "Nel$on Gang", "Bishop Fine Plumbing", "Spazztastiq Games","Papa Dueceski Design","Construction Management Global","All Hearts Together Nursing Care","All Hearts Together Nursing Care","Phoenix Pet Sitting", "Your Company Here!" ]'></span>
</h1>
<hr />
<br />
<p class="textSection" style="font-size:24px;">Below are just a few Websites that we have designed to not only look stunningly beautiful but to also strategically capture & convert visitors into customers. If you would like to know more about our clients, please give us a call at <a href="tel:+16027771105" description="Link to call Akira Web Solutions">(602) 777-1105 </a></p>

@*WEBSITE PREVIEWS*@
<div class="row">
       <div class="column">
        <div class="card">
            <img src="~/Images/BishopFinePlumbingPreview.jpg" alt="Bishop Fine Plumbing website development Preview" style="width:100%;">

            <div class="container" style="text-align:center;">
                <h2>Bishop Fine Plumbing</h2>
                <p class="title">Plumbing, Service, Business</p>
                <p>This is a clients website that highlights their services for sale.</p>
                <a href="tel:+16027771105" title="Call now for website design"><img src="~/Images/Phonepng_32x32.png" style="max-width:32px; vertical-align:middle;" alt="Phone" />Call Now (602) 777-1105</a>
                <button class="button" onclick="window.open('http://www.bishopfineplumbing.com')">View Website</button>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">

            <img src="~/Images/CMGPreview.jpg" alt="Global Construction Management website design Preview" style="width:100%;">
            <div class="container">
                <h2>Construction Management Global</h2>
                <p class="title">Development, Construction, Renovation, and FFE Procurement.</p>
                <p>This is a clients website that highlights and promotes their global business</p>
                <a href="tel:+16027771105" title="Call now for website design"><img src="~/Images/Phonepng_32x32.png" style="max-width:32px; vertical-align:middle;" alt="Phone" />Call Now (602) 777-1105</a>
                <button class="button" onclick="window.open('http://www.constructionmanagementglobal.com')">View Website</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/Images/PetGliderPreview.jpg" alt="PetGlider website seo preview" style="width:100%;">
            <div class="container">
                <h2>The Pet Glider</h2>
                <p class="title">App Development, Zombie Road, Social Media</p>
                <p>This is a website that highlights and promotes their writing career.</p>
                <a href="tel:+16027771105" title="Call now for website design"><img src="~/Images/Phonepng_32x32.png" style="max-width:32px; vertical-align:middle;" alt="Phone" />Call Now (602) 777-1105</a>
                <button class="button" onclick="window.open('https://www.akirawebsolutions.com/Contact')">Contact for information</button>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="~/Images/AllHeartsTogetherPreview.jpg" alt="All Hearts website seo preview" style="width:100%; ">
            <div class="container">
                <h2>All Hearts Together, LLC</h2>
                <p class="title">Home Nursing Care, Small Business, Social Media</p>
                <p>This is a clients website that highlights and promotes their home nursing company.</p>
                <a href="tel:+16027771105" title="Call now for website design"><img src="~/Images/Phonepng_32x32.png" style="max-width:32px; vertical-align:middle;" alt="Phone" />Call Now (602) 777-1105</a>
                <button class="button" onclick="window.open('http://www.allheartsnursing.com/')">View Website</button>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="column">
        <div class="card">
            <img src="~/Images/AuthorPreview.jpg" alt="Author website seo preview" style="width:100%;">
            <div class="container">
                <h2>Richard Kadrey</h2>
                <p class="title">App Development, Zombie Road, Social Media</p>
                <p>This is a website that highlights and promotes their writing career.</p>
                <a href="tel:+16027771105" title="Call now for website design"><img src="~/Images/Phonepng_32x32.png" style="max-width:32px; vertical-align:middle;" alt="Phone" />Call Now (602) 777-1105</a>
                <button class="button" onclick="window.open('http://zombieroad.azurewebsites.net/')">View Website</button>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/images/PhoenixPetSittingPreview.jpg" alt="papadueceski website development preview" style="width:100%;">

            <div class="container">
                <h2>Phoenix Pet Sitting, LLC</h2>
                <p class="title">Pet Sitting, service, business</p>
                <p>this is a clients website that highlights their pet sitting services.</p>
                <a href="tel:+16027771105" title="Call now for website design"><img src="~/Images/Phonepng_32x32.png" style="max-width:32px; vertical-align:middle;" alt="Phone" />Call Now (602) 777-1105</a>
                <button class="button" onclick="window.open('https://www.akirawebsolutions.com/contact')">Contact for information</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    

    <div class="column">
        <div class="card">
            <img src="~/Images/NelsonGangPreview.jpg" alt="Nelson Gang website design preview" style="width:100%;">
            <div class="container">
                <h2>Nel$on Gang</h2>
                <p class="title">Music, Entertainment, Social Media</p>
                <p>This is a clients website that highlights and promotes their music career.</p>
                <a href="tel:+16027771105" title="Call now for website design"><img src="~/Images/Phonepng_32x32.png" style="max-width:32px; vertical-align:middle;" alt="Phone" />Call Now (602) 777-1105</a>
                <button class="button" onclick="window.open('http://www.nelsongangordie.com')">View Website</button>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/Images/SpazztasticGamesPreview.jpg" alt="Spazztastic Games website seo preview" style="width:100%;">
            <div class="container">
                <h2>Spazztastiq Games, LLC</h2>
                <p class="title">App Development, Zombie Road, Social Media</p>
                <p>This is a clients website that highlights and promotes their app company.</p>
                <a href="tel:+16027771105" title="Call now for website design"><img src="~/Images/Phonepng_32x32.png" style="max-width:32px; vertical-align:middle;" alt="Phone" />Call Now (602) 777-1105</a>
                <button class="button" onclick="window.open('https://www.akirawebsolutions.com/Contact')">Contact for information</button>
            </div>
        </div>
    </div>


</div>

    <script>

        //ANIMATION HEADER SCRIPT
        var TxtRotate = function (el, toRotate, period) {
            this.toRotate = toRotate;
            this.el = el;
            this.loopNum = 0;
            this.period = parseInt(period, 10) || 2000;
            this.txt = '';
            this.tick();
            this.isDeleting = false;
        };

        TxtRotate.prototype.tick = function () {
            var i = this.loopNum % this.toRotate.length;
            var fullTxt = this.toRotate[i];

            if (this.isDeleting) {
                this.txt = fullTxt.substring(0, this.txt.length - 1);
            } else {
                this.txt = fullTxt.substring(0, this.txt.length + 1);
            }

            this.el.innerHTML = '<span class="wrap">' + this.txt + '</span>';

            var that = this;
            var delta = 300 - Math.random() * 100;

            if (this.isDeleting) { delta /= 2; }

            if (!this.isDeleting && this.txt === fullTxt) {
                delta = this.period;
                this.isDeleting = true;
            } else if (this.isDeleting && this.txt === '') {
                this.isDeleting = false;
                this.loopNum++;
                delta = 500;
            }

            setTimeout(function () {
                that.tick();
            }, delta);
        };

        window.onload = function () {
            var elements = document.getElementsByClassName('txt-rotate');
            for (var i = 0; i < elements.length; i++) {
                var toRotate = elements[i].getAttribute('data-rotate');
                var period = elements[i].getAttribute('data-period');
                if (toRotate) {
                    new TxtRotate(elements[i], JSON.parse(toRotate), period);
                }
            }
            // INJECT CSS
            var css = document.createElement("style");
            css.type = "text/css";
            css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
            document.body.appendChild(css);
        };
    </script>
