@{
    Layout = "~/_SiteLayout.cshtml";
    <meta name="keywords" content="website builder Phoenix, website design Phoenix, SEO Phoenix, website hosting Phoenix, SSL Certificate Phoenix, SEO Phoenix, website builder Buckeye, website design Buckeye, SEO Buckeye, website hosting Buckeye, SSL Ceritifcate Buckeye, SEO Buckeye" />
    <meta name="author" content="Akira Web Solutions" />
    <meta name="description" content="Why pay Silicon Valley prices for website design, mobile apps or hosting when you can pay local prices with Akira Web Solutions? Professional Website Developers Serving the Greater Phoenix, AZ Area" />
    <title>Reponsive Website Design, SSL, SEO, ASP.NET, Buckeye, Phoenix</title>
    Page.Title = "Services";

    <!-- Global site tag (gtag.js) - Google AdSense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8450722853983229",
            enable_page_level_ads: true
        });
    </script>

}
<style>
    #body {
        /*background: linear-gradient(khaki,grey);*/
        background-color: white;
        font-size: 24px;
    }

    .processTitle {
        color: black;
        font-weight: bold;
    }
</style>

@*WEB DEVELOPMENT*@


<div style="background-color:#f8fff0;">
    <a name="Website Development" title="">
        <h1 class="textSection" style="max-width:100%;">
            Website Development
        </h1>
    </a>
    <div style="text-align:center;"><img class="textSection" src="~/Images/Website-Design.jpg" alt="website design" /></div>

    <p class="textSection">
        At Akira Web Solutions, we live and breathe website design. We'll create an eye-catching website that reflects your business, meets the needs of your clients, promoting your products or services 24/7/365.
        We won't charge you sky-high website designer prices either - our websites are affordable, highly cost-effective, designed to meet your requirements. We’re local too, based in Arizona &amp; Colorado, serving customers throughout the USA.
    </p>
</div>


<h3 class="textSection">
    Website Design Services for all
</h3>

<p class="textSection">
    Akira Web Solutions believes that everyone deserves a great website. We are design team who will build that stunning, virtual creation of your business idea. We listen to your needs, suggest solutions, thus developing a website that meets your present and future needs.<br />
    We won't sell you a huge website if you only need five pages, we won’t add expensive features you don't need, or confuse you with tech talk. We just design you a smart, professional, effective website that works perfectly and ranks well in the search engines.<br /><br />

    <b>Call Akira Web Solutions today for intelligent website design that won't bust the budget.</b><br /><br />


    At Akira Web Solutions, we specialise in producing websites that suit your particular business needs now and into the future. So, we design in ASP.NET.It has several advantages and consists of, HTML5, CSS3, Javascript, SQL.<br /><br />

</p>

<div style="background-color:#f8fff0;">
    <h3 class="textSection">
        Mobile Design &amp; The Future
    </h3>
    <p class="textSection">
        If your business website can't be viewed on a mobile phone or smart phone, your business is missing out, big time. Recent figures show that 40%+ of website traffic comes from mobile phones - that's almost a half of your potential customers.<br /><br />

        With an Akira Web Soltions website, you can relax. We'll make your site mobile friendly so your customers can read it on any smart phone or tablet. Your site will also be mobile responsive, which means if someone browses to your website on a mobile device, it automatically switches to a smart phone friendly format.
    </p>

    <hr />
</div>

@*RESPONSIVE WEB DESIGN*@

<a name="Responsive Web Design" title=""><h2 class="textSection">Responsive Website Design</h2></a>
<div style="text-align:center;"><img class="textSection" src="~/Images/PetGliderPreview.jpg" alt="responsive website design" /></div>
<p class="textSection">
    Make your website 100% visible on today’s mobile devices including smart phones and tablets, with responsive website design from Akira Web Solutions.
</p>
<div style="background-color:#f8fff0;">
    <h3 class="textSection">Smart, Appealing Mobile-Friendly Websites</h3>
    <p class="textSection">
        If your company or organizations website doesn't work properly on a smart phone/portable tablet device, your business is missing out on up to 40% of potential customers who use their phones &amp; mobile devices to search for services just like yours. Responsive website design ensures that your website scales correctly looks great regardless of what kind of computer or mobile device it's viewed on.
    </p>
</div>

<h3 class="textSection"> Why Do I Need A Responsive Website Design?</h3>
<p class="textSection">
    Without one, you are missing out on at least 40% of users who browse websites on their phone/mobile device. That's massive chunk of the population that just won't find your information, products or services online unless your website is mobile-friendly.
</p>
<div style="background-color:#f8fff0;">
    <h3 class="textSection">Responsive Website Design For Every Device</h3>
    <p class="textSection">
        Our websites work hard so your users don't have to! Our websites will give optimum viewing experience on all mobile OS (operating systems) and all makes of smartphone, e-readers and mobile tablet devices.
    </p>
    <hr />
</div>
@*SEO*@
<a name="SEO" title=""><h2 class="textSection">Search Engine Optimization</h2></a>
<div style="text-align:center;"><img class="textSection" src="~/Images/seo.jpg" alt="seo" /></div>
<p class="textSection">SEO isn't rocket science; it's about the right words in the right place on your website, which ensures it ranks well in Google and other search engines.</p>
<div style="background-color:#f8fff0;">
    <h3 class="textSection">SEO Keyword Research</h3>
    <p class="textSection">
        At Akira to ensure your website is found by potential customers, our Search Engine Optimization (SEO) phrasing ensures search engines such as Google finds you.

        We know you want to be ranked highly in search engine results pages. Our Search Engine Optimization reveals the words real customers are using to find websites like yours every day.
        SEO research also reports any hidden phrases that people type in frequently, but your competition may have missed!
    </p>
    <hr />
</div>
<h3 class="textSection">Websites Built for SEO</h3>
<p class="textSection">
    All Akira Web Solutions websites are built so that search engines can read every word, so your website is as 'visible' as possible.
    You won't notice the techie stuff we've done behind the scenes, but the search engine will, which is crucial for Google. That's what sets Akira Web Solutions apart from other website Developers.
</p>


<div style="background-color:#f8fff0;">
    <a name="ASP" title=""><h2 class="textSection"> ASP.NET VS. Wordpress</h2></a>
    <div style="text-align:center;"><img class="textSection" src="~/Images/net.jpg" alt=".net" /></div>
    <p class="textSection" style="font-size:24px; text-align:center;">
        Here at Akira Web Solutions we make all our websites with ASP.net. Without getting into all the techie details, here is why this is good for you:
    </p>
</div>

<ul style="margin:auto;" class="sub2">
    <li>
        We create everything from scratch. Meaning no template fees or restrictions.
    </li>
    <li>
        Since everything on the website is custom-made by us, error fixing is much easier and less time-consuming.
    </li>
    <li>
        Instead of selecting from what is available to thousands of websites, we custom create what represents your business needs.
    </li>
    <li>
        Want that image slightly to the left? Want that feature somewhere else? No problem.
    </li>
    <li>
        ASP.NET is the language of choice for enterprise level companies. Don't you deserve the same?
    </li>
</ul>

<hr style="margin-bottom:0px;" />

<div style="background-color:#f8fff0;">
    <a name="SSL" title=""><h2 class="textSection"> Advantages of having a SSL certifcate</h2></a>
    <div style="text-align:center;"><img class="textSection" src="~/Images/sslcertificate-2.png" alt="ssl" /></div>
</div>
<h3 class="textSection">What an SSL certificate actually is</h3>
<p class="textSection" style="font-size:24px;">
    SSL (Secure Sockets Layer) is a cryptographic protocol designed to keep communication safe over the Internet.
    An SSL certificate is a digitally signed file issued for a particular domain name/domain names.
    Besides the domain name, the certificate also contains the issuer signature, serial number, expiration date, etc.
    To enable a secure connection and protect important information, an SSL certificate file should be installed on the server.
    Once the SSL installation is completed, you can securely access your service via HTTPS or any other SSL protocols like FTPS, IMAPS, POP3S, SMTPS, NNTPS, LDAPS, etc.
    <br />
</p>
<div style="background-color:#f8fff0;">
    <h3 class="textSection">What the main advantages of an SSL certificate are:</h3>
    <h3 class="textSection">Encryption</h3>
    <p class="textSection" style="font-size:24px;">
        An SSL certificate helps to protect sensitive information such as logins, passwords, account details and cardholders information for e-commerce websites during Internet communication.
        Basically, Internet is a chain of computers, and every computer which takes part in data transfer from source to destination can read and recognize unencrypted information.
        The main idea is that all information is encrypted before being submitted, and only the web server and website visitor have personal keys to decrypt and recognize it.
        Encryption prevents eavesdropping and tampering information by hackers and identity thieves.
    </p><br />
</div>
<h3 class="textSection">Boosts Search Rankings</h3>
<p class="textSection" style="font-size:24px;">
    From August 2014, Google announced that having an SSL certificate installed on your website will increase the ranking position and this is another significant reason to use SSL.
</p><br />

<div style="background-color:#f8fff0;">
    <h3 class="textSection">Trusted Indicators</h3>
    <p class="textSection" style="font-size:24px;">
        An SSL certificate also provides your web-resource with trusted indicators which can help visitors to make sure that your website is reliably protected.
        Trusted indicators for a correctly installed and configured SSL certificate should be https:// in the address bar and padlock without any warning messages.
    </p><br />
</div>

<h3 class="textSection">Domain Validation</h3>
<p class="textSection" style="font-size:24px;">
    Here only the domain ownership is required to be validated by the certificate authority (CA). It is an entry level certificate for the smaller organizations.
</p><br />


<div style="background-color:#f8fff0;">
    <h3 class="textSection">Organization Validation</h3>
    <p class="textSection" style="font-size:24px;">
        It is a medium level certificate that is intended for medium level organizations. In these, the domain ownership, as well as business, has to be validated by the certificate authority.
    </p><br />
</div>


<h3 class="textSection">Increases Visitor Loyalty</h3>
<p class="textSection" style="font-size:24px;">
    If your site has user accounts with personal data, then you may need the SSL certificate in any way. When the visitors know that their information is protected, they are more likely to keep coming back.
</p><br />


<div style="background-color:#f8fff0;">
    <h3 class="textSection">More Shopper Visits</h3>
    <p class="textSection" style="font-size:24px; ">
        If you are running an online store, you can expect you, shoppers, to see whether you have SSL or not. In the absence of an SSL certificate, the shoppers might not be interested in your website let alone the products offered on it.
    </p><br />
</div>

<h3 class="textSection">SSL Certificate Aquisition</h3>
<p class="textSection" style="font-size:24px; ">
    Buying an SSL certificate is very simple if you are clear about your requirements. It can be slightly tricky if you don’t have the knowledge about SSL certificates. You need to set-up your server and make sure that your WHOIS record is up-to date. You may also need a certificate signing request from the server. Then you’ll have to submit the CSR and other much-needed information to Certificate Authority (CA) for the SSL product you have purchased. Once you have completed the validation for the domain and if your company if the certificate requires it. Once you get the certificate, you’ll have to install the certificate on the server.
</p><br />

<div style="background-color:#f8fff0;">
    <h3 class="textSection">Takeaway</h3>
    <p class="textSection" style="font-size:24px;">
        With an SSL certificate, your business becomes more professional, and your website becomes more trustworthy.
    </p><br />
    <hr />
</div>

<h2 class="textSection">Our Process</h2>
<div style="text-align:center; max-width:60%; margin:auto;">
    <div style="background-color:lightblue; ">
        <span class="processTitle">DISCOVERY</span><br />
        <span class="processContent">Starts with in-depth research about your business, ideal customers, competition and industry. The outcome is a strategic plan to meet your goals. </span>
    </div>
    <div style="background-color:orange;">
        <span class="processTitle">Design</span><br />
        <span class="processContent">
            Our designers craft beautiful, effective, and visually cohesive designs. We not only create stunning designs but also make sure they are effective in converting visitors into leads, building trust and brand awareness.

        </span>
    </div>
    <div style="background-color:orangered;">
        <span class="processTitle">Develop</span><br />
        <span class="processContent">
            We love to code! Although invisible to users and ignored by most, we know that well written code ensures your website is stable, secure, SEO friendly and displays well across devices and browsers.

        </span>
    </div>
    <div style="background-color:green;">
        <span class="processTitle">Deploy</span><br />
        <span class="processContent">
            The hard work has come to fruition and it's time to show the world! This is really where the journey begins. We will always be by your side to support any of your website design and digital marketing needs.
        </span>
    </div>
</div>
