@{
    Page.Title = "7 Essential Reasons Why You Need a Website (even if Facebook is free)";
    Layout = "~/_SiteLayout.cshtml";

    <!-- Global site tag (gtag.js) - Google AdSense -->
    @*<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8450722853983229",
            enable_page_level_ads: true
        });
    </script>*@
}
<meta name="description" content="You need a website. A lot of businesses think that an Instagram account or Facebook fan page is enough… In this post, I’ll share 6 essential reasons why you need a website.">
<meta name="keywords" content="website,seo,facekbook,instagram,marketing,internet marketing,optimization,optimized," />
<meta name="author" content="Rachel Ngom" />
<meta property="og:image" content="https://www.rachelngom.com/wp-content/uploads/2018/06/7-Essential-Reasons-Why-You-Need-a-Website-even-if-Facebook-is-free-1080x675.png" />

<style>
    p.textSection {
        font-size: large;
        margin:auto;
        padding:25px;
    }
</style>



<div class="blogTextSection">

    <h1 style="margin-top:0; text-align:center; padding-top:2.5em; font-size:xx-large"> 7 Essential Reasons Why You Need a Website (even if Facebook is free)</h1>
    <p style="font-size:small; text-align:left;">Author: Rachel Ngom</p>
    <p style="font-size:small; text-align:left;">
        <a href="https://www.rachelngom.com/need-a-website/" style="color:blue;">
            Source: Rachel Ngom
        </a>
    </p>

    <img src="https://www.rachelngom.com/wp-content/uploads/2018/06/7-Essential-Reasons-Why-You-Need-a-Website-even-if-Facebook-is-free-1080x675.png" style="max-width:90%;" />
    <h2> Why you need a website Reason #1: Algorithm changes</h2>
    <p class="textSection">
        Building your business on social media platforms is like building your business on shifting sand.

    </p>


    <p class="textSection">
        You need a solid foundation to work upon, and you need a website.


    </p>

    <p class="textSection">
        Tons of bloggers felt the great Facebook algorithm change a few years back, and it hasn’t gotten any easier since then. At any point, the platform you’re using could change it’s algorithm, making it nearly impossible for your fans to see your content (unless you want to spend a ton of money on ads).


    </p>


    <p class="textSection">
        Think of your website as your foundation. It’s the one thing you can control..which brings us to point #2.



    </p>

    <h2> Why you need a website Reason #2: You own it</h2>


    <p class="textSection">
        You don’t own any of the social media platforms, but you do own your website. Facebook or Instagram could shut down your account without warning, or put you in Facebook jail (happened to me lol). Then you’re stuck.



    </p>

    <p class="textSection">
        You need a website because you it’s yours. No one can take it away from you (or put you in jail lol).



    </p>

    <h2> Why you need a website Reason #3: You control the experience</h2>


    <p class="textSection">
        With Facebook, you’re kind of stuck with how Zuckerberg runs the platform, and if you don’t like it, too bad.



    </p>

    <p class="textSection">
        With your website, you have 100% control over how your website looks and what the user experience is like.



    </p>

    <p class="textSection">
        You can show off your style and personality (which is so much fun). You get to give potential clients an idea of you and what your biz is all about without them actually having to buy something from you.



    </p>

    <p class="textSection">
        You don’t own any of the social media platforms, but you do own your website. Facebook or Instagram could shut down your account without warning, or put you in Facebook jail (happened to me lol). Then you’re stuck.



    </p>

    <h2> Why you need a website Reason #4: Get them into your funnel</h2>


    <p class="textSection">
        Your website is how you can get someone into your sales funnel.



    </p>

    <p class="textSection">
        Imagine an actual funnel, where at the top of the funnel, something is poured inside and it filters down to a finite destination.




    </p>

    <p class="textSection">
        The exact same thing happens in sales. At the top of the funnel, lots of visitors may arrive and enter your funnel, but not all may end up at the final destination (becoming a paid customer).




    </p>

    <p class="textSection">
        What I teach is to bring people into your funnel via Pinterest and knock their socks off with great content.





    </p>

    <p class="textSection">
        From there, you can create a relevant freebie, which will get the prospective customer onto your email list, where you can market your products and services.




    </p>

    <p class="textSection">
        Could you potentially do this with a Facebook page? Yes…but most likely you’d need to pay for ads.


    </p>

    <h2> Why you need a website Reason #5: Facebook ads/tracking pixel</h2>


    <p class="textSection">
        Speaking of ads, they can be an insanely powerful way to grow your business (if you know what you’re doing).


    </p>

    <p class="textSection">
        One of the best ways to do Facebook ads is to target audiences who’ve visited your website.

    </p>

    <p class="textSection">
        You could potentially target people who’ve visited your sales page (but not your thank you page) and target with your product.



    </p>
    <p class="textSection">
        Or you could create an ad targeting people who’ve read a blog post and show them an ad for a relevant freebie to get them on your email list.


    </p>

    <p class="textSection">
        There are a ton of possibilities, but in order to do this, you need a website to put a little piece of code called a Facebook tracking pixel.


    </p>

    <h2> Why you need a website Reason #6: Organic traffic (Free Leads!)</h2>


    <p class="textSection">
        Facebook has essentially become a platform where you need to pay to play. If you implement the strategies I teach with Pinterest, you can have a website that is getting thousands of visitors every single month for freeeee.





    </p>

    <p class="textSection">
        Who doesn’t want free leads?


    </p>
    <p class="textSection">
        If you’re brand new to Pinterest marketing, I’ve got a bazillion posts to help you, and you should def register for my next free Pinterest master class.


    </p>

    <p class="textSection">
        You can also generate free leads to your website via SEO (search engine optimization).





    </p>
    <p class="textSection">
        SEO can take some time to work, but once it does, you can get tons of traffic from Google for free #score





    </p>

    <p class="textSection">
        You need a website so you can create epic content that ranks on Google (and Pinterest).



    </p>

    <h2> Why you need a website Reason #7: Credibility</h2>


    <p class="textSection">
        Your website is your digital storefront.





    </p>

    <p class="textSection">
        I don’t know about you, but if I’m looking for a service (like getting my nails done) and the business doesn’t have a website, I’m likely to go somewhere else.





    </p>
    <p class="textSection">
        Your website is your home where people can expect to find contact info, reviews, a list of products, pricing, and more.





    </p>

    <p class="textSection">
        A standard Facebook page doesn’t give a good enough idea of what the company is all about or detailed info on products or services.





    </p>

    <h2> Conclusion</h2>


    <p class="textSection">
        Facebook fan pages are great, but if you want a thriving business, you need a website.





    </p>

    <p class="textSection">
        Facebook can be a place where you build a relationship with your audience (specifically Facebook groups, because as stated above, pages don’t get great organic traffic).





    </p>
    <p class="textSection">
        Your website should be your home base. It’s where the party happens.





    </p>

    <p class="textSection">
        Your website is where you have 100% control over the look and feel, you can get prospective clients into your sales funnel, have greater credibility, have the ability to run retargeting ads on Facebook, and generate free traffic.





    </p>

    <p class="textSection">
        Did you enjoy this post? Leave me a comment below with something you learned (or another topic you’d love me to cover) and be sure to grab my free cheat sheet to get more leads with Pinterest!


    </p>

    <img src="https://www.rachelngom.com/wp-content/uploads/2018/06/7-Essential-Reasons-Why-You-Need-a-Website-even-if-Facebook-is-free-1.png" style="max-width:90%;" />


    <div class="fb-comments" data-href="https://www.akirawebsolutions.com/Blog/7%20Essential%20Reasons%20Why%20You%20Need%20a%20Website" data-numposts="5" style="max-width:100%;"></div>



</div>




@*Mail Chimp*@
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">require(["mojo/signup-forms/Loader"], function (L) { L.start({ "baseUrl": "mc.us19.list-manage.com", "uuid": "b2e17cb16db28d707f8f4cebc", "lid": "7d2fa507b2" }) })</script>