@{
    Page.Title = " Netflix tests a bypass of iTunes billing in 33 markets";
    Layout = "~/_SiteLayout.cshtml";

    <!-- Global site tag (gtag.js) - Google AdSense -->
    @*<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8450722853983229",
            enable_page_level_ads: true
        });
    </script>*@
}
<meta name="description" content="Netflix is one of the highest-grossing apps on the iOS App Store, but it looks like the video streaming giant is contemplating how it might make an even bigger margin on its iPhone and iPad users.">
<meta name="news_keywords" content="apps, entertainment, media, mobile, tc, netflix">
<meta name="keywords" content="apps, entertainment, media, mobile, tc, netflix" />
<meta name="author" content="Ingird Lunden" />

<style>
    p.textSection {
        font-size: x-large;
    }
</style>


    <div class="blogTextSection">

        <h1 style="margin-top:0; text-align:center; padding-top:2.5em; font-size:xx-large"> Netflix tests a bypass of iTunes billing in 33 markets</h1>
        <p style="font-size:small; text-align:left;">Author: Ingred Lunden</p>
        <p style="font-size:small; text-align:left;">
            <a href="https://techcrunch.com/2018/08/21/netflix-itunes-2/" style="color:blue;">
            Source: TechCrunch
        </a></p>
        <img src="https://techcrunch.com/wp-content/uploads/2017/12/gettyimages-866643100.jpg?w=1390&crop=1" style="max-width:90%;" />


        <p class="textSection">
            Netflix is one of the highest-grossing apps on the iOS App Store, but it looks like the video streaming giant is contemplating how it might make an even bigger margin on its iPhone and iPad users.

        </p>

        <p class="textSection">
            TechCrunch has learned and confirmed that Netflix,  in its own words, is “testing the iTunes payment method” in 33 countries. More specifically, Netflix is testing how to bypass iTunes. Until September 30, new or lapsed subscribers in selected markets across Europe, Latin America and Asia will be unable pay using iTunes. They are instead getting redirected to the mobile web version to log payment details directly with Netflix.

        </p>



        <p class="textSection">
            Others like Spotify also have moved users away from using iTunes to pay for subscriptions. It’s notable that both Spotify and Netflix have something else in common: Apple — now the world’s biggest company passing a $1 trillion market cap earlier this month — has made many big moves to encroach on their space, and thus it makes little sense for either company to cut Apple in more than it has to on its direct customer relationships. (You might say the same for Google.)


        </p>

        <p class="textSection">
            Netflix’s iOS test was first spotted by NDTV in India last week, with users also flagging changes on Twitter. Journalist Manish Singh (in a tweet he then deleted) subsequently said Netflix was running a two-month experiment. A customer support agent contacted by us earlier today confirmed that the test has actually been running since June, starting first in 10 countries and then expanding to 33 from August 2 until September 30.


        </p>

        <p class="textSection">
            “During this time, customers in these countries may experience any of the following when launching the Netflix app on an iOS (mobile or tablet) device: 1. Ability to sign up in app with only iTunes Mode Of Payment. 2. Ability to log into Netflix but not sign up (sign up only via mobile browser),” he wrote. “We are constantly innovating and testing new signup approaches on different platforms to better understand what our members like. Based on what we learn, we work to improve the Netflix experience for members everywhere.”


        </p>

        <p class="textSection">
            Asked for more clarification, a spokesperson, provided a statement echoing the same words also used by the customer support agent.


        </p>

        <p class="textSection">
            The full list of countries where the billing test is running is as follows: Argentina, Australia, Austria, Belgium, Brazil, Canada, Colombia, Croatia, Czech Republic, Denmark, Ecuador, Finland, France, Germany, Great Britain, Hungary, India, Indonesia, Italy, Japan, Korea, Malaysia, Mexico, Norway, Peru, Philippines, Poland, Slovakia, South Africa, Spain, Sweden, Taiwan and Thailand.


        </p>

        <p class="textSection">
            Although Netflix is calling this a test, it’s notable that the company has been gradually shifting its customer relationships on other platforms to develop more direct billing with its users.


        </p>

        <p class="textSection">
            As of May 2018, Netflix stopped allowing new or rejoining customers to use Google Play to pay for its service. “If you are currently billed by Google Play, you can continue to use Google Play billing until your account is cancelled,” the company notes on a help page about the change, which is in line with how it appears to be testing billing now on iOS.


        </p>

        <p class="textSection">
            Changing the billing to a direct format means that Netflix bypasses giving Google and Apple a cut on those subscriptions. Currently, Apple takes a 30 percent cut on the first year of a subscription, which goes down to 15 percent for subsequent years.


        </p>

        <p class="textSection">
            Apple has something of the upper hand especially when it comes to newer apps or those still building up their user bases: it controls the App Store on iOS devices, and with active billing details for a large number of these users, Apple greatly reduces friction for enticing users to sign up and subscribe to a service (the same goes for in-app purchases, too, although that is less relevant to Netflix).



        </p>

        <p class="textSection">
            But the math and strategy change for the biggest app publishers, who have their own brands (and even their own memes). These might be more willing to take the chance of creating a little bit more friction in exchange for a bigger return.



        </p>

        <p class="textSection">
            Although it’s not elaborating too much about what it is doing, this might be particularly the case for Netflix. In July, the company posted a miss in its quarterly revenues and subscriber additions. Growth may be slowing, so now might be a good time for the company to refocus the margins its making on its 130 million+ users.



        </p>

        <p class="textSection">
            The test for payments comes at the same time that Netflix is making other tests and tweaks to its service, including an experiment to see how well video promos between episodes do with users (they seem to universally dislike them), and closing off the option to leave user reviews on videos.



        </p>

        <p class="textSection">
            If the billing test grows, or becomes a permanent thing, as it has with Google, it looks like Apple might soon need to update its subscription pages for developers:



        </p>

        <div class="fb-comments" data-href="https://www.akirawebsolutions.com/Blog/Netflix%20Tests%20a%20Bypass" data-numposts="5" style="max-width:100%;"></div>


    </div>




@*Mail Chimp*@
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">require(["mojo/signup-forms/Loader"], function (L) { L.start({ "baseUrl": "mc.us19.list-manage.com", "uuid": "b2e17cb16db28d707f8f4cebc", "lid": "7d2fa507b2" }) })</script>