@{
    Page.Title = "Stratolaunch announces new launch vehicles and reusable space plane @TechCrunch";
    Layout = "~/_SiteLayout.cshtml";

    <!-- Global site tag (gtag.js) - Google AdSense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8450722853983229",
            enable_page_level_ads: true
        });
    </script>
}

<meta name="description" content="Stratolaunch, the commercial space firm founded by Paul Allen back in 2011, has revealed a bit more of its plan for taking payloads to orbit via one of the world&#039;s biggest planes. It&#039;s now working on a pair of its own rocket-powered launch vehicles, and is in the early phases of creating a reusable, crew-capable space plane.">
<meta name="news_keywords" content="commercial space, paul allen, stratolaunch">
<meta name="keywords" content="commercial space, paul allen, stratolaunch" />
<meta name="author" content="Devin Coldewey" />
<style>
    p.textSection {
        font-size: x-large;
    }
</style>



    <div class="blogTextSection">

        <h1 style="margin-top:0; text-align:center; padding-top:2.5em; font-size:xx-large"> Stratolaunch announces new launch vehicles and reusable space plane</h1>
        <p style="font-size:small; text-align:left;">Author: Devin Coldewey</p>
        <p style="font-size:small; text-align:left;">
            <a href="https://techcrunch.com/2018/08/20/stratolaunch-announces-new-launch-vehicles-and-reusable-space-plane/" style="color:blue;">
                Source: TechCrunch
            </a>
        </p>

        <img src="https://techcrunch.com/wp-content/uploads/2018/08/launch_family.jpg?w=1390&crop=1" style="max-width:100%;" />


        <p class="textSection">
            Stratolaunch, the commercial space firm founded by Paul Allen back in 2011, has revealed a bit more of its plan for taking payloads to orbit via one of the world’s biggest planes. It’s now working on a pair of its own rocket-powered launch vehicles, and is in the early phases of creating a reusable, crew-capable space plane.
        </p>

        <p class="textSection">
            The company’s main claim to fame so far is the unnamed aircraft that will be doing the heavy lifting. Its 385-foot wingspan is the world’s largest — but it’s necessary to provide room in the middle for its intended launch vehicle cargo.

        </p>

        <p class="textSection">
            The Stratolaunch technique is in some ways similar to that being pursued by Virgin Galactic: use a big plane to get a rocket off the ground and past the worst of the atmosphere, which then drops off and fires up on its own. Looks like this:

        </p>

        <img src="https://techcrunch.com/wp-content/uploads/2018/08/flight-plan-background.png" style="max-width:75%;" />

        <p class="textSection">
            It saves fuel and is in some ways safer and more reliable, as there’s no need to worry about the weather or other low-altitude problems.
        </p>

        <p class="textSection">
            Until this announcement it wasn’t clear just what that rocket-powered craft would be, except Orbital ATK’s proven but relatively diminutive Pegasus. Today’s announcement makes it clear that Stratolaunch intends to provide a variety of in-house options.
        </p>

        <img src="https://techcrunch.com/wp-content/uploads/2018/08/launches.png" style="max-width:75%;" />


        <p class="textSection">
            First is the Medium Launch Vehicle or MLV, which will carry up to 3,400 kilograms up to a 400 kilometer orbit; then there’s its big sibling, the imaginatively named MLV Heavy, which with two additional cores can lift up to 6,000 kilograms. The former is aiming for deployment in 2022, while the latter has no date as yet.


        </p>

        <p class="textSection">
            More interesting is the Space Plane, which like the military’s X-37B is a reusable spacecraft meant for taking things to space and bringing them back. A “follow-on variant” will be crew-capable, Stratolaunch claims. Right now this thing is basically just a concept, though: it’s in the “design study” phase. But it wouldn’t be announced alongside real vehicles if the team wasn’t serious about it.


        </p>

        <p class="textSection">
            You can expect the first flights with Pegasus-powered launches to take place in 2020 if the company holds to its timeline. That may be a bit ambitious considering the main aircraft has yet to take to the air, let alone be tested and fitted for these flights, but ambitious is kind of the name of the game in the space industry.


        </p>

        <div class="fb-comments" data-href="https://www.akirawebsolutions.com/Blog/Stratolaunch%20announces%20new%20launch" data-numposts="5" style="max-width:100%;"></div>

    </div>




@*Mail Chimp*@
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">require(["mojo/signup-forms/Loader"], function (L) { L.start({ "baseUrl": "mc.us19.list-manage.com", "uuid": "b2e17cb16db28d707f8f4cebc", "lid": "7d2fa507b2" }) })</script>