@{
    Page.Title = "Blog Timeline";
    Layout = "~/_SiteLayout.cshtml";
}

<meta name="keywords" content="topics news feeds feed">
<meta name="description" content="At Akira Blog you can follow and share Topics and News sites of your interest.">


<div>
    <a name="Website Development" title="">
        <h1 class="textSection" style="max-width:100%;">
            Akira Web Solutions Blog
        </h1>
    </a>
</div>

<div style="text-align:center; max-width:60%; margin:auto; ">

    <h2 style="text-decoration:underline; padding-bottom:1em;">

        Netflix tests a bypass of iTunes billing in 33 markets
    </h2>

    <div>
        <div style="max-width:60%; display:inline-block; vertical-align:top;">

            <a href="~/Blog/Netflix Tests a Bypass" style="color:black; font-size:22px; text-decoration:none; max-width:60% ">
                Netflix is one of the highest-grossing apps on the iOS App Store, but it looks like the video streaming giant is contemplating how it might make an even bigger margin on its iPhone and iPad users.                <br /> <span style="color:blue;">Read More</span>
            </a>
        </div>

        <div style=" max-width:35%; display:inline-block;">
            <img src="https://techcrunch.com/wp-content/uploads/2017/12/gettyimages-866643100.jpg?w=1390&crop=1" style="max-width:100%; " alt="BlogPostInformation" />
        </div>
        <br />

        <p style="font-size:small; text-align:left;">Author: Ingrid Lunden, August 21, 2018</p>
        <p style="font-size:small; text-align:left;">Source: TechCrunch</p>
    </div>
    <hr />
</div>

<div style="text-align:center; max-width:60%; margin:auto; ">

    <h2 style="text-decoration:underline; padding-bottom:1em;">
        Facebook assigns a trustworthiness score to each of its users, tracking things like whether an article a user flags as false turns out, after review, to be true (Elizabeth Dwoskin/Washington Post)
    </h2>

    <div>
        <div style="max-width:60%; display:inline-block; vertical-align:top;">

            <a href="~/Blog/Facebook Rating" style="color:black; font-size:22px; text-decoration:none; max-width:60% ">
                Facebook has begun to assign its users a reputation score, predicting their trustworthiness on a scale from zero to one 
                <br /> <span style="color:blue;">Read More</span>
            </a>
        </div>

        <div style=" max-width:35%; display:inline-block;">
            <img src="https://www.washingtonpost.com/resizer/-yuCftfUoR2zbogpEtUf0zqG5zQ=/1484x0/arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/GZURJ3VEKYI6RLLPBADXBXG5YI.jpg" style="max-width:100%; " alt="BlogPostInformation" />
        </div>
        <br />

        <p style="font-size:small; text-align:left;">Author: Elizabeth Dwoskin, August 21, 2018</p>
        <p style="font-size:small; text-align:left;">Source: The Washington Post</p>
    </div>
    <hr />
</div>

<div style="text-align:center; max-width:60%; margin:auto; ">

    <h2 style="text-decoration:underline; padding-bottom:1em;">
        Microsoft says hackers linked to the Russian military intelligence agency formerly known as the GRU targeted conservative US think tanks that challenge Moscow
    </h2>

    <div>
        <div style="max-width:60%; display:inline-block; vertical-align:top;">

            <a href="~/Blog/Russia Cyber Hack" style="color:black; font-size:22px; text-decoration:none; max-width:60% ">
                The Russian military intelligence unit that sought to influence the 2016 election appears to have a new target...
                <br /> <span style="color:blue;">Read More</span>
            </a>
        </div>

        <div style=" max-width:35%; display:inline-block;">
            <img src="https://static01.nyt.com/images/2018/08/21/us/politics/21dc-cyber-print/merlin_141728529_08a43eff-70c1-4da3-8b7c-c2f6cd714ec8-superJumbo.jpg?quality=90&auto=webp" style="max-width:100%; " alt="BlogPostInformation" />
        </div>
        <br />

        <p style="font-size:small; text-align:left;">Author: Mark Gurman and Debby Wu, August 21, 2018</p>
        <p style="font-size:small; text-align:left;">Source: David E. Sanger and Sheera Frenkel</p>
    </div>
    <hr />
</div>

<div style="text-align:center; max-width:60%; margin:auto; ">

    <h2 style="text-decoration:underline; padding-bottom:1em;">
        Apple Is Planning a New Low-Cost MacBook, Pro-Focused Mac Mini
    </h2>

    <div>
        <div style="max-width:60%; display:inline-block; vertical-align:top;">

            <a href="~/Blog/Apple Is Planning a New Low-Cost MacBook" style="color:black; font-size:22px; text-decoration:none; max-width:60% ">
                Apple Inc. will release a new low-cost laptop and a professional-focused upgrade to the Mac mini desktop later this year, ending a drought of Mac computers that has limited sales of the company’s longest-running line of devices, according to people familiar with the plans.
                <br /> <span style="color:blue;"> Read More</span>
            </a>
        </div>

        <div style=" max-width:35%; display:inline-block;">
            <img src="https://cdn.macrumors.com/article-new/2017/07/macbook-air.jpg" style="max-width:100%; " alt="BlogPostInformation" />
        </div>
        <br />

        <p style="font-size:small; text-align:left;">Author: Mark Gurman and Debby Wu, August 20, 2018</p>
        <p style="font-size:small; text-align:left;">Source: Bloomberg</p>
    </div>
    <hr />
</div>

<div style="text-align:center; max-width:60%; margin:auto; ">

    <h2 style="text-decoration:underline; padding-bottom:1em;">
        Who needs democracy when you have data? <br /> Here’s how China rules using data, AI, and internet surveillance.
    </h2>


    <div style="max-width:60%; display:inline-block; vertical-align:top;">

        <a href="~/Blog/who needs democracy when you have data" style="color:black; font-size:22px; text-decoration:none; max-width:60%;">
            In 1955, science fiction writer Isaac Asimov published a short story about an experiment in “electronic democracy,” in which a single citizen, selected to represent an entire population, responded to questions generated by a computer named Multivac.
            <br /> <span style="color:blue;"> Read More</span>
        </a>
    </div>

    <div style=" max-width:35%; display:inline-block;">
        <img src="https://cdn.technologyreview.com/i/images/so18-china-1.jpg?sw=520&cx=0&cy=1119&cw=2346&ch=2400" style="max-width:100%; " alt="BlogPostInformation" />
    </div>
    <br />

    <p style="font-size:small; text-align:left;">Author: Christina Larson, August 20, 2018</p>
    <p style="font-size:small; text-align:left;">Source: MIT Technology Review</p>

    <hr />
</div>

<div style="text-align:center; max-width:60%; margin:auto;  ">

    <h2 style="text-decoration:underline; padding-bottom:1em;">
        Stratolaunch announces new launch vehicles and reusable space plane
    </h2>


    <div style="max-width:60%; display:inline-block; vertical-align:top;">

        <a href="~/Blog/Stratolaunch announces new launch" style="color:black; font-size:22px; text-decoration:none; max-width:60% ">
            Stratolaunch, the commercial space firm founded by Paul Allen back in 2011, has revealed a bit more of its plan for taking payloads to orbit via one of the world’s biggest planes. It’s now working on a pair of its own rocket-powered launch vehicles, and is in the early phases of creating a reusable, crew-capable space plane.
            <br /> <span style="color:blue;"> Read More</span>
        </a>
    </div>

    <div style=" max-width:35%; display:inline-block;">
        <img src="https://techcrunch.com/wp-content/uploads/2018/08/launches.png" style="max-width:100%; " alt="BlogPostInformation" />
    </div>
    <br />

    <p style="font-size:small; text-align:left;">Author: Devin Coldewey, August 20, 2018</p>
    <p style="font-size:small; text-align:left;">Source: Techcrunch</p>


</div>



@*Mail Chimp*@
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">require(["mojo/signup-forms/Loader"], function (L) { L.start({ "baseUrl": "mc.us19.list-manage.com", "uuid": "b2e17cb16db28d707f8f4cebc", "lid": "7d2fa507b2" }) })</script>